<ion-view hide-nav-bar="true"  title="Classes Tab Default Page">
    <!-- <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item ui-sref="tabsController.yogaClass">Yoga</ion-item>
            <ion-item>Crossfit</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content> -->
    <ion-header-bar class="" style="height: 50px">

    <div class="col text-left">
        <a href="#/classAssessments" style="text-decoration: none; margin-top: 5px"><div id="glass" class="ion-close-round" style="font-size:25px; margin-right: 5px;"></div></a>
      </div>
      <div>
    <h3 style="font-family: Raleway; margin-top: 5px">Chair Stand</h3>
  </div>
  <div class="col text-center">
  </div>
   </ion-header-bar>

<ion-content style="" overflow-scroll="true" padding="true" class="has-tabs-tops">
  <ion-list>
    <a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
      <div style="">
      <img src="img/blank-profile-picture-973460_640.png" class="attendImg" alt="">
    <div class="attend"> William Costigan</div>
     <div  class="assess" action="" style="">
    <input  style=" width: 40px; display:inline-block; vertical-align: top" type="text" name="">
  </div>
  </div>
</ion-item></a>
<a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
  <div style="">
  <img src="img/blank-profile-picture-973460_640.png" class="attendImg" alt="">
<div class="attend">Colin Sullivan</div>
 <div  class="assess" action="" style="">
<input  style=" width: 40px; display:inline-block; vertical-align: top" type="text" name="">
</div>
</div>
</ion-item></a>
<a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
  <div style="">
  <img src="img/blank-profile-picture-973460_640.png" class="attendImg" alt="">
<div class="attend">Sean Dignam</div>
 <div  class="assess" action="" style="">
<input  style=" width: 40px; display:inline-block; vertical-align: top" type="text" name="">
</div>
</div>
</ion-item></a>
<a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
  <div style="">
  <img src="img/blank-profile-picture-973460_640.png" class="attendImg" alt="">
<div class="attend">Captain Queenan</div>
 <div  class="assess" action="" style="">
<input  style=" width: 40px; display:inline-block; vertical-align: top" type="text" name="">
</div>
</div>
</ion-item></a>
<a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
  <div style="">
  <img src="img/blank-profile-picture-973460_640.png" class="attendImg" alt="">
<div class="attend">Frank Costello</div>
 <div  class="assess" action="" style="">
<input  style=" width: 40px; display:inline-block; vertical-align: top" type="text" name="">
</div>
</div>
</ion-item></a>



  </ion-list>


  </ion-content>
</ion-view>
