<ion-view hide-nav-bar="true"  title="Classes Tab Default Page">
    <!-- <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item ui-sref="tabsController.yogaClass">Yoga</ion-item>
            <ion-item>Crossfit</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content> -->
    <ion-header-bar class="" style="height: 50px">

    <div class="col text-left">
        <a  ui-sref="tabsController.classAssessments" style="text-decoration: none; margin-top: 5px"><div id="glass" class="ion-close-round" style="font-size:25px; margin-right: 5px;"></div></a>
      </div>
      <div>
    <h3 style="font-family: Raleway; margin-top: 5px">Chair Stand</h3>
  </div>
  <div class="col text-center">
  </div>
   </ion-header-bar>

<ion-content style="" overflow-scroll="true" padding="true" class="has-tabs-tops">
  <ion-list>
    <a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
      <div style="">
    <div class="chair">6 stands</div>
     <div  class="stands" action="" style="">
       <div>02. 12. 15</div>
  </div>
  </div>
</ion-item></a>
<a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
  <div style="">
<div class="chair">6 stands</div>
 <div  class="stands" action="" style="">
   <div>02. 12. 15</div>
</div>
</div>
</ion-item></a>
<a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
  <div style="">
<div class="chair">6 stands</div>
 <div  class="stands" action="" style="">
   <div>02. 12. 15</div>
</div>
</div>
</ion-item></a>
<a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
  <div style="">
<div class="chair">6 stands</div>
 <div  class="stands" action="" style="">
   <div>02. 12. 15</div>
</div>
</div>
</ion-item></a>
<a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
  <div style="">
<div class="chair">6 stands</div>
 <div  class="stands" action="" style="">
   <div>02. 12. 15</div>
</div>
</div>
</ion-item></a>
<a href="#/assessmentDetail" style="text-decoration: none"><ion-item style="height:70px" toggle-class="">
  <div style="">
<div class="chair">6 stands</div>
 <div  class="stands" action="" style="">
   <div>02. 12. 15</div>
</div>
</div>
</ion-item></a>
  </ion-list>
  </ion-content>
  <ion-footer-bar ng-click"saveAssess()" align-title="" class="bar-positive" style="height: 55px">
     <div class="buttons">
      <div style="font-size: 20px; margin-top: 10px; margin-left:5px">Add New</div>
    </div>
    <h1 class="title" style="text-align: center"></h1>
     <div class="buttons" ng-click="doSomething()">
       <div style="font-size: 40px; margin-top: 10px">+</div>
    </div>
  </ion-footer-bar>

</ion-view>
