<ion-view hide-nav-bar="true" title="Yoga Class">

  <ion-header-bar class="bar-light" style="height: 100px">
    <br>
<a ui-sref="tabsController.assessmentsTabDefaultPage" style="text-decoration: none; height: 10px"><div id="glass" class="ion-ios-arrow-left" style="font-size:35px; margin-left: 10px; margin-right: 15px; color: black"></div> </a>
    <div style="float:left">
    <h4 style="">Chair Stand</h4>
  </div>

    <a class="col text-right" ng-click="openPopover($event)"><div id="dots" class="ion-android-more-vertical dots-icon" style="font-size:25px; color: black; display: inline-block;"></div></a>


<br>
<!-- <div style="width: 100%; position: absolute; left: 0px">
  <a href="#/classInfo"><div style="width: 32.5%; margin-top: 50px; color: black; display: inline-block; text-align: center">
<div>INFO</div>
<div style="width: 100%; border-top: 3px solid blue; top: 90px;"></div>
</div></a>
<a href="#/classAttendance">
<div style="width: 32.5%; margin-top: 50px; color: black; display: inline-block; text-align: center">
<div>ATTENDANCE</div>
</div></a>
<a href="#/classAssess">
<div style="width: 32.5%; margin-top: 40px; color: black; display: inline-block; text-align: center">
<div>ASSESSMENTS</div>
</div></a>


</div> -->
   </ion-header-bar>


  <ion-content style="margin-top: 40px" overflow-scroll="true" padding="true" class="has-tabs-tops">
   <div style="padding: 10px; margin: 20px; font-size: 15px">
    <div class="col text-left">
  <div class="gray">Member</div>
<br>
<!--   <label class="selectMember item-select" style="border"> -->
          <!--   <span class="input-label">0</span> -->
            <select class="selectMember">
              <option value="">William Costigan</option>
              <option value="">Colin Sullivan</option>
              <option value="">Sean Dignam</option>
              <option value="">Captain Queenan</option>
              <option value="">Frank Costello</option>
            </select>
        <!-- </label> -->
    </div>
    <br>
    <div>
    <div class="col text-left" style="display: inline-block;">
  <div class="gray"># of Stands in 30 seconds</div>
  <br>
<!--   <div class="bold">3:00 pm</div> -->
<!--   <label class="selectMember item-select" style="border"> -->
          <!--   <span class="input-label">0</span> -->
            <select class="selectMember">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
              <option value="">6</option>
            </select>
<!--   </label> -->
  </div>
  <!-- <div style="display: inline-block; vertical-align: top; width: 50%; float: right">
    <div class="gray">Date</div>
    <div class="bold">10. 11. 2015</div>
     </div> -->
     </div>
  <!-- <div class="col text-left">
    <div class="gray">Address</div>
    <div class="bold">44 Main Street</div>
  </div>
  <div class="col text-left">
    <div class="gray">City</div>
    <div class="bold">Charleston</div>
  </div>
  <div class="col text-left">
    <div class="gray">Zip Code</div>
    <div class="bold">29403</div>
  </div>
    </div>

    -->
    </ion-content>
    <ion-footer-bar ng-click"saveAssess()" align-title="" class="bar-positive" style="height: 55px">
      <!-- <div class="buttons">
        <button class="button">Left Button</button>
      </div> -->
      <h1 class="title" style="text-align: center">Save</h1>
      <!-- <div class="buttons" ng-click="doSomething()">
        <button class="button">Right Button</button>
      </div> -->
    </ion-footer-bar>
</ion-view>
