<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable ">
        <ion-tab title="Info Tab" icon="ion-ios-bolt-outline" href="#/page1/classes">INFO
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Attendance Tab" icon="ion-ios-person-outline" href="#/page1/members">ATTENDANCE
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Assessments Tab" icon="ion-android-clipboard" href="#/page1/assessments">ASSESSMENTS
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>



<!-- <ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable ">
<div style="width: 100%; position: absolute; left: 0px">
<a href="#/page1/classes">
<div style="width: 32.5%; margin-top: 50px; color: black; display: inline-block; text-align: center">INFO</div></a>
<div style="width: 32.5%; margin-top: 50px; color: black; display: inline-block; text-align: center">ASSESSMENTS</div>
<div style="width: 32.5%; margin-top: 50px; color: black; display: inline-block; text-align: center">ATTENDANCE</div>
</div>
</ion-tabs>



</ion-view>
 -->
