<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable ">
        <ion-tab title="Classes Tab" icon="ion-ios-bolt-outline" href="#/page1/classes">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Members Tab" icon="ion-ios-person-outline" href="#/page1/members">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Assessments Tab" icon="ion-android-clipboard" href="#/page1/assessments">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Measurements Tab" icon="ion-ios-pulse" href="#/page1/measurements">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
Status API Training Shop Blog About Pricing
