.gray {
  color: #a8a8a8;
}

.bold {
  font-weight: bold;
}

.attend {
  font-size: 20px;
  color: blue;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  padding: 2px;
  /* width: 300px; */

}

.chair {
  font-size: 15px;
  color: blue;
  display: inline-block;
  /* vertical-align: top; */
  /* margin-top: 5px; */
  padding: 2px;
  /* width: 300px; */

}

.attendImg {
  width:45px;
  border-radius: 40px;
  display: inline-block;
}

.toggle .track {
  height: 25px;
}

.toggle .handle {
  height: 25px;
}

.assess {
  display:inline-block;
  width:40px;
  float: right
}

.stands {
  display:inline-block;
  width:55px;
  float: right
}

.noUnderline {
  text-decoration: none;
}

.assess input[type="text"] {
   border-bottom: 1px solid black;
 }
/* .toggle input:checked + .track {
  border-color: green !important;
  background-color: green !important;
  color: green;
}


 .toggle input + .track{
   background-color: #ef473a;
 } */

 .chairRight {
   display: inline-block;
   float: right;
   vertical-align: top;
   font-size: 20px;
   color: green;
 }

.chairLeft{
  display: inline-block;
}
